In [164]:
import bs4 as bs
import requests
import yfinance as yf
import datetime

# GET SP500 Companies list, stored in tickers
resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})
tickers = []
for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

tickers = [s.replace('\n', '') for s in tickers]
tickers.sort()

In [237]:
import time
import re
import progressbar
d = dict()
d['Ticker'] = []
d['date'] = []
d['marketCap'] = []
bar = progressbar.ProgressBar(max_value=progressbar.UnknownLength)
for i in range(len(tickers)):
    resp = requests.get('https://ycharts.com/companies/' + tickers[i] + '/market_cap')
    soup = BeautifulSoup(resp.text,"lxml")
    for table in soup.find_all('table',{'class': 'histDataTable'}):
        for row in table.find_all('tr')[1:]:
            hy = row.find_all('td')
            date = hy[0].text
            ticker = hy[1].text
            
            m = re.search('\n                \n                    (.+?)\n                \n',ticker)
            if m:
                d['Ticker'].append(tickers[i])
                d['date'].append(date)
                d['marketCap'].append(m.group(1))
    bar.update(i)

/ |                                           #     | 504 Elapsed Time: 0:02:42

In [238]:
df = pd.DataFrame(data=d)
df

      Ticker            date marketCap
0          A    May 27, 2020    26.26B
1          A    May 26, 2020    26.53B
2          A    May 22, 2020    26.17B
3          A    May 21, 2020    24.87B
4          A    May 20, 2020    25.17B
...      ...             ...       ...
25744    ZTS  March 20, 2020    47.97B
25745    ZTS  March 19, 2020    48.63B
25746    ZTS  March 18, 2020    50.28B
25747    ZTS  March 17, 2020    52.77B
25748    ZTS  March 16, 2020    50.86B

[25749 rows x 3 columns]

In [146]:
LALALA = dict()

In [147]:
from selenium import webdriver
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time

driver = webdriver.Chrome(ChromeDriverManager().install())

for i in range(len(tickers)):
#     time.sleep(3)
    driver.get('https://ycharts.com/companies/' + tickers[i] + '/market_cap')
    soup = BeautifulSoup(driver.page_source,"lxml")
    tag = soup.find("td", text = 'March 23, 2020')
    resultArray = str(tag.next_sibling.next_sibling.text).split()
    output = ''.join(str(element) for element in resultArray)
    LALALA[tickers[i]] = output
driver.quit()

[WDM] - Looking for [chromedriver 81.0.4044.138 mac64] driver in cache
[WDM] - File found in cache by path [/Users/zepinghe/.wdm/drivers/chromedriver/81.0.4044.138/mac64/chromedriver]

In [159]:
lalala = LALALA
import pandas as pd
df = pd.DataFrame(list(lalala.items()), columns=['Ticker','Market_Cap'])
# pd.DataFrame.from_dict(lalala)

    Ticker Market_Cap
0        A     19.62B
1      AAL     4.367B
2      AAP     5.424B
3     AAPL    981.73B
4     ABBV     95.25B
..     ...        ...
500    YUM     17.01B
501    ZBH     16.70B
502   ZBRA     9.059B
503   ZION     3.949B
504    ZTS     44.03B

[505 rows x 2 columns]

In [161]:
df.to_csv("SP500_Market_Cap.csv",index = False,header = False)